@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Open+Sans:300,400|Roboto:300,400,500,700');

/**general**/
html {
    font-size: 14px;
}

img {
    max-width: 100%;
    min-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.text-light {
    color: #81868E !important;
}

.text-dark {
    color: #333B46 !important;
}

.text-hot {
    color: #E84C3D !important;
}

.section-header {
    font-size: 20px;
    color: #333B46 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.after-header {
    position: relative;
}

.after-header:after {
    content: '';
    width: 46px;
    height: 3px;
    background: #898989;
    position: absolute;
    bottom: -20px;
    left: 0px;
}
.after-header-center {
    position: relative;
}

.after-header-center:after {
    content: '';
    width: 46px;
    height: 3px;
    background: #898989;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0)
}
/**general end**/

/**header**/
header .navbar-brand {
    font-family: 'Leckerli One', cursive;
    color: #E84C3D !important;
    font-size: 20px;
}

header .navbar-nav .nav-item {
    background: #fff;
    border-bottom: 1px solid #81868E;
    transition: 0.3s linear;
}

header .navbar-nav .nav-item:last-of-type {
    border-bottom: none;
}

header .navbar-nav .nav-item:hover,
header .navbar-nav .nav-item.active {
    background: #E84C3D;
}

header .navbar-nav .nav-item:hover a{
    color: #fff !important;
}

.navbar-light .navbar-toggler {
    color: rgb(232, 76, 61);
    border-color: rgb(232, 76, 61);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232, 67, 61, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/**header end**/
/**hello section**/
.hello-section {
    padding: 150px 0;
    background-size: cover;
    background-position: center center;
}

.hello-section .hello-content p {
    font-size: 1.25rem;
}
/**hello section end**/
/**about section start**/
.about {
    padding: 70px 0 70px;
}

.about .about-content p {
    line-height: 1.78rem;
}

.about .btn {
    letter-spacing: 2px;
}
/**about section end**/
/**what we do section start**/
.what-header {
    font-size: 1.14rem;
    color: #696d72 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.what-header:after {
    content: '';
    width: 31px;
    height: 2px;
    background: #EBEBEB;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0)
}

.what-we-do .what-wraper {
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    
    transition: 0.3s linear;
}

.what-we-do .what-wraper .fa {
    height: 108px;
    width: 108px;
    line-height: 108px;
    font-size: 50px;
    color: #fff;
    background: #E84C3D;
    border-radius: 50%;
    transition: 0.3s linear;
}

.what-we-do .what-wraper:hover {
    background: #E84C3D;
}

.what-we-do .what-wraper:hover .fa {
    color: #E84C3D;
    background: #fff;
}

.what-we-do .what-wraper:hover h4,
.what-we-do .what-wraper:hover p {
    color: #fff !important;
}
/**what we do section end**/
/**numbers start**/
.numbers {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}

.numbers p {
    font-family: 'Roboto', sans-serif !important;

}
.numbers .number {
    font-size: 30px;

}
.numbers .numbers-article .number-text {
    letter-spacing: 2px;
    font-size: 14px;
}

.numbers .numbers-article .number-text:after {
    content: '';
    width: 31px;
    height: 2px;
    background: #EBEBEB;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0)
}

.numbers .numbers-article .fa {
    font-size: 30px;
}
/**numbers end**/




